{% extends 'base.html' %}
{% block content %}
<form class="d-flex" action="{% url 'search' %}" method="get">
    <input name="p" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">検索</button>
</form>
<!-- 検索をした後、検索の欄に検索ワードを残しておきたい（検索後、検索ワードを欄に入れておく） -->
<!-- いいね順、新着順のボタンを押すことで欄に入ってるワードを使い、ソート検索を行う。 -->

<a href="{% url 'search' %}"><input type="hidden" name="like"><h1 class="user_name">いいね順</h1></a>
<a href="{% url 'search' %}"><input type="hidden" name="new"><h1 class="user_name">新着順</h1></a>

<div class="user_comment_list">
{% for item in object_list %}
<div class="comment_area">

    <a href="{% url 'profile' ids=item.user.id %}"><input type="hidden" name="ids" value="{{item.user.id}}"><h1 class="user_name">{{item.user}}</h1></a>
    <!-- このリンクにids=item~~を書くことで、idsという変数に格納し、views.pyでこの変数を使うことができる。inputはおそらく何も意味がない。aタグでh1を囲っているため、名前をクリックするとリンクに飛べる。 -->


    <h1 class="user_comment">{{item.text}}</h1>
    {% if item.images %}
    <img src="{{ item.images.url }}" class="comment_img">
    {% else %}
    <p>画像要素がありません</p>
    {% endif %}
    {% if request.user == item.user %}
    <form method="post" action="{% url 'delete' item.pk %}">{% csrf_token %}
        <input type="hidden" name="id" value="{{item.user}}">
        <button onclick='return confirm("本当に削除しますか？");'>削除</button>
    </form>
    {% endif %}
</div>
{% endfor %}
</div>




{% endblock content %}
